body{
    background-image: url(img/cyberpunk.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

body h1{
    font-size: 20px;
    font-family: helvetica;
    color: #000;
}

body select{
    background-color: rgb(28, 27, 27);
    color: #fff;
}

body form label{
    color: #000;
}
input{
    background-color: rgb(28, 27, 27);
    color: #fff;
}